
html,body{
    min-height: 100%;
    height: 100%;
	font-family :'Lato', 'Avenir','sans-serif';
	letter-spacing:-0.04em;
    font-size : 16px;
    color :dimgrey;
}

.bg {
    background-position : 0px 100px;
    min-height : 100%;
	height : 100%;
	background-size : cover;
	background-repeat : no-repeat;
	background-attachment :fixed;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    position : relative;
}


.images{
    margin-bottom: 20px;
}


.menu {
    position :relative;
    top : 8px;
    font-size : 18px;
    margin-left: 20px;
    color: white;
}

.banniere {
    margin-top : 60px; margin-bottom : 60px;
}

.banniere .text{
    margin-bottom: 30px;
}
#arrowdown {
    position : absolute;
    left : 50%;
    bottom : 2%;
    font-size : 1.5em;
    color : white;
    opacity : 0.6;
}
.arrowdown:hover{
    opacity : 0.9;
    color: white;
}
.text{
    margin-bottom: 20px;
}
h5 {
    font-size : 12px;
    font-style : italic;
    text-align : left;
}


.bg {
    /*----Pour script parralax-----
    background-attachment:scroll;
    position : relative;
    top : -100px;*/
}

.slide {
background-color : white;
z-index: 1;
top : 0px;
}



#streetart {
    top : 0px;
}

#hamb {
    margin-left : 0px;
    position : relative;
    left: 10px;
    top : 5px;
    height : 28px;
}



.centr {
    font-family: 'Porto','Lato';
    position :relative ;
    top : 40%;
    width : 400px;
    margin-right : auto;
    margin-left : auto;
    font-size: 45px;
    color : white;   
}

.premierbg {
    background :url("../img/bg-copa-sunrise.jpg");
    background-attachment: fixed;
}


#map-canvas {
    height : 400px;
    width : 600px;
    margin-left : 300px
}

#map-canvas img{
    max-width : none;    
}

#map-canvas label {
    width : auto;
    display : inline;
} 

.bgsp {
    background-image:url('../img/bg-sp.jpg')
}
