
html,body{
    height : 100%;
    min-height : 100%;
	font-family :'Poiret One', 'Avenir','sans-serif';
	letter-spacing:-0.04em;
    font-size : 14px;
    color :dimgrey;
}

.bg {
    min-height : 100%;
	height : 100%;
	background-size : cover;
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-position : center;
}


.images{
    margin-bottom: 20px;
}


.navbar-brand {
    font-size : 30px;
    margin-right : 50px;
}

.banniere {
    margin-top : 60px; margin-bottom : 60px;
}

.banniere .text{
    margin-bottom: 30px;
}
.arrowdown {
    position : absolute;
    left : 50%;
    bottom : 2%;
    font-size : 1.5em;
    color : white;
    opacity : 0.6;
}
.arrowdown:hover{
    opacity : 0.9;
    color: white;
}
.text{
    margin-bottom: 20px;
}
h5 {
    font-size : 12px;
    font-style : italic;
    text-align : left;
}
